.box {
   position: absolute;
   color: black;
   background-color: black;
   width: 250px;
   height: 940px;
   top: 0px;
   left: 0px;
}

.weapons {
    position: relative;
    display: block;
    margin-top: 10px;
    left: 20px;
    height: 100px;
    width: 200px;
}

.weapons:hover {
    box-shadow: 0 0 1px 1px white;
}